---
import AddVue from "./_adding.vue";
import Layout from "../_layout.astro";
import inserting from "./assets/inserting.png";
import { KATEX_RENDERS } from "./_katex";
import { Image } from "astro:assets";
---

<Layout markdownify>
  <h1>Adding</h1>
  <p>一个可运行的 HyperLogLog 实现必须有：</p>
  <ul>
    <li>
      一系列的 <i>寄存器</i> (<span set:html={KATEX_RENDERS["m"]} />)，可以实现为一个数组
    </li>
    <li>
      一个 <i>精度</i> (<span set:html={KATEX_RENDERS["p"]} />) 参数，通常为 4 - 16，必须在创建时指定
      <ul>
        <li>决定了有多少个寄存器可用 (2^n)</li>
        <li>更多的寄存器可以减少<a href="./counting">计数</a>中的错误，但需要牺牲更多的内存</li>
      </ul>
    </li>
    <li>
      一个 <i>哈希函数</i> (<span set:html={KATEX_RENDERS["h_v"]} />)，用于将数据散列为一个 32 位整数
    </li>
  </ul>

  <p>
    HyperLogLog 基于当前所有寄存器的状态估计 <i>基数</i> (<span set:html={KATEX_RENDERS["E"]} />)
  </p>

  <p>如下所示，添加一个数据可能就会彻底改变寄存器的状态。</p>

  <div class="flex">
    <div class="relative w-full">
      <h3>示意图</h3>
      <p>
        希望本图能够解释在“添加”操作期间发生了什么。如果不能，不妨<a href="#playground-section">动手试一试</a>。
      </p>
      <figure class="figure" style="margin-top:10px; margin-bottom:10px; display:block !important">
        <Image
          alt=""
          class="figure-img img-fluid"
          style="margin-left:auto; margin-right:auto; display:block;"
          src={inserting}
        />
      </figure>
    </div>
  </div>
  <br />
  <br />
  <br />

  <a name="playground-section"></a>
  <h3>动手试一试</h3>
  <p>用下面的小工具查看在 HyperLogLog 中添加一项数据时会发生什么</p>
  <AddVue client:load />
</Layout>
